# =========================
# Backend - FastAPI
# =========================
fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
python-multipart==0.0.20

# =========================
# Frontend - Streamlit
# =========================
streamlit==1.48.1

# =========================
# LangChain / RAG
# =========================
langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.27
langchain-text-splitters==0.3.9
langchain-huggingface==0.3.1
langchain-google-genai

# =========================
# Vector Database
# =========================
qdrant-client==1.15.1

# =========================
# Embeddings
# =========================
sentence-transformers==5.1.0

# =========================
# Data Processing
# =========================
pandas==2.3.2
numpy==2.3.2

# =========================
# API / HTTP
# =========================
requests==2.32.5
httpx==0.28.1

# =========================
# Environment Variables
# =========================
python-dotenv==1.1.1

# =========================
# Utilities
# =========================
scikit-learn==1.7.1